@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

/* Neste arquivo, faremos TODAS as REGRAS
CSS necessárias para a formatação do site. */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/oriental-tiles.png);  
    background-attachment: fixed; 
}

h1 { 
    animation-name: caindo;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */

    font-family: 'Rubik Iso', cursive;
    color: white; 
    background-color: black;
    padding: 10px;

    /* Desafio: aplique as seguintes propriedades:
    - borda em todos os lados na cor que quiser
    - sombra (na cor que quiser) no bloco virada pra dentro 
    - coloque o texto no meio
    - letras maiusculas */
    
    /* border: red solid 8px; */
    border-width: 8px;
    border-color: darkblue;
    border-style: solid;

    text-align: center;

    text-transform: uppercase;

    box-shadow: blue 0 0 20px inset;
}

#container {
    background-color: white;

    width: 80%;
    max-width: 800px;
    min-width: 500px;

    margin: auto;
    box-shadow: black 0 0 5px;
    padding: 3%;
    border-radius: 8px;
}

h2 {
    font-size: 20px;   
    border-bottom: solid 5px;
    border-left: dashed 5px;
    padding-left: 10px;
    /* border-top: solid 5px red;
    border-bottom: solid 5px red; */
    /* display: inline-block; */
}

/* Grupo de seletores */
h3, p, figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    padding: 8px;
    background: linear-gradient(
        45deg, 
        lightblue,
        #5d5dd0, 
        yellow
    );
}

.destaque {
    background-color: black;
    padding: 3px;
    color: white;
    border-radius: 4px;
}

/* Reset/Limpeza */
figure {
    margin: 0;
    text-align: center;
}

/* Tornando as imagens "responsivas" */
img { max-width: 100%; }

/* Seletor descendente */
p a { color: red; }

ul { margin: 10px; }

li {
    list-style-image: url(../imagens/fundo03.gif);
    line-height: 32px;
}

/* Seletor PSEUDO-ELEMENTO
(usa 2x o dois pontos ::) */
li::marker { 
    content: "☠️ "; 
    font-size: 16px;
}

/* Regras para o menu */
nav { text-align: center; }

/* Regra para o estado inicial do link */
nav a {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
    background-color: lightblue;
    width: 50%;
    display: inline-block;
    padding: 10px;

    /* Alterando o Box Model fazendo com que
    padding e border não dê BO nas dimensões
    finais do elemento! */
    box-sizing: border-box;
}

/* Seletor Pseudo-classe :first-child */
nav a:first-child { 
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* Seletor pseudo-classe :last-child */
nav a:last-child { 
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}



/* Regra para o estado do link acionado
Pseudo-classe :hover (passar o mouse)
Pseudo-classe :focus (receber foco) */
nav a:hover, nav a:focus {
    background-color: darkblue;
    color: white;
}

figure img { 
    filter:grayscale(); 
    /* clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); */
    transition: 0.5s;
    transform: scale(0.8);
}

figure img:hover { 
    /* clip-path: polygon(0 0, 51% 6%, 100% 0, 100% 50%, 100% 100%, 50% 94%, 0 100%); */
    filter: none; 
    transform: scale(1) /* rotate(360deg) */;
}

/* Regras de Animação */

@keyframes caindo {
    /* Como começa: */
    from { 
        transform: translateY(-100px);
        opacity: 0; 
    }

    /* Como termina: */
    to { transform: translateY(0); }
}









